Client/Service References/AuditProxy/AuditService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Adglopez.Samples.ServiceBus.Auditing.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Adglopez.Samples.ServiceBus.Auditing.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessProcess" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>